<%- include('../partials/header') %> 

<h2> Please Select a Cuisine </h2>

<div>
    <a href="/explore/korean">korean</a>
</div>

<div>
    <a href="/explore/mexican">mexican</a>
</div>

<div>
    <a href="/explore/indian">indian</a>
</div>

<div>
    <a href="/explore/thai">thai</a>
</div>

<div>
    <a href="/explore/italian">italian</a>
</div>

<div>
    <a href="/explore/mediterranean">mediterranean</a>
</div>


<%- include('../partials/footer') %> 