<%- include('../partials/header') %> 
<br>
<h2> Please Select a Cuisine </h2>
<div class="container">
    <div class="d-flex justify-content-center flex-wrap">
            <a href="/explore/korean" class="h5">
            <div class="card m-2" style="width: 18rem;">
                <img src="https://post.healthline.com/wp-content/uploads/2021/09/Bibimpap-korean-food-732x549-thumbnail-732x549.jpg" class="img-thumbnail" href="/explore/korean" class="img-thumbnail">
                <a href="/explore/korean" class="text-center"><h5>Korean</h5></a>
                <div class="card-body">
                </div>
            </div>
            </a>

            <a href="/explore/mexican" class="h5">
                <div class="card m-2" style="width: 18rem;">
                    <img src="https://www.cheese.com/media/uploads/cheese.com/2021/10/versions/cheese-tacos-w778.jpg" class="img-thumbnail" href="/explore/mexican" class="img-thumbnail">
                    <a href="/explore/mexican" class="text-center"><h5>Mexican</h5></a>
                    <div class="card-body">
                    </div>
                </div>
                </a>

            <a href="/explore/indian" class="h5">
                <div class="card m-2" style="width: 18rem;">
                    <img src="https://thumbs.dreamstime.com/b/assorted-various-indian-food-dark-rustic-background-traditional-dishes-chicken-tikka-masala-palak-paneer-saffron-rice-lentil-163316040.jpg" class="img-thumbnail">
                    <a href="/explore/indian" class="text-center"><h5>Indian</h5></a>
                    <div class="card-body">
                    </div>
                </div>
                </a>

                <a href="/explore/thai" class="h5">
                    <div class="card m-2" style="width: 18rem;">
                        <img src="https://p0.pxfuel.com/preview/54/384/940/satay-chicken-peanut-sauce-thai-food-thai-snack-royalty-free-thumbnail.jpg" class="img-thumbnail">
                        <a href="/explore/thai" class="text-center"><h5>Thai</h5></a>
                        <div class="card-body">
                        </div>
                    </div>
                    </a>

                <a href="/explore/italian" class="h5">
                        <div class="card m-2" style="width: 18rem;">
                            <img src="https://w0.peakpx.com/wallpaper/916/358/HD-wallpaper-pasta-italian-dishes-macro-appetizing-dishes-italian-food-thumbnail.jpg" class="img-thumbnail">
                            <a href="/explore/italian" class="text-center"><h5>Italian</h5></a>
                            <div class="card-body">
                            </div>
                        </div>
                        </a>
                        
                <a href="/explore/mediterranean" class="h5">
                        <div class="card m-2" style="width: 18rem;">
                                <img src="https://lifeloveandgoodfood.com/wp-content/uploads/2020/04/Chicken-Shawarma_09_1200x1200.jpg" class="img-thumbnail">
                                <a href="/explore/mediterranean" class="text-center"><h5>Mediterranean</h5></a>
                                <div class="card-body">
                                </div>
                            </div>
                            </a>
    
        </div>
    </div>
</div>

<%- include('../partials/footer') %> 