<%- include('../partials/header') %> 

<h2> Please Select a Cuisine </h2>
<div class="container">
    <div class="row">
        <div class="col">
            <a href="/explore/korean" class="h5">Korean</a>
            <img src="https://post.healthline.com/wp-content/uploads/2021/09/Bibimpap-korean-food-732x549-thumbnail-732x549.jpg" class="img-thumbnail">
        </div>

        <div class="col">
            <a href="/explore/mexican" class="h5">Mexican</a>
        </div>

        <div class="col">
            <a href="/explore/indian" class="h5">Indian</a>
        </div>
    </div>
    <br>
    <br>
    <div class="row">
        <div class="col">
            <a href="/explore/thai" class="h5">Thai</a>
        </div>

        <div class="col">
            <a href="/explore/italian" class="h5">Italian</a>
        </div >

        <div class="col">
            <a href="/explore/mediterranean" class="h5">Mediterranean</a>
        </div>
    </div>
</div>

<%- include('../partials/footer') %> 